* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: white;
 
}  
.contenedor-general{
    background-color: #2D728F;
    background: #00d2ff;
    background: -webkit-linear-gradient(
      to right,
      #3a7bd5,
      #00d2ff
    ); 
    background: linear-gradient(
      to right,
      #3a7bd5,
      #00d2ff
    );
}


.contenedor-header {
  height: 100vh;
  background-image: url(../img/fondo_mobile_home.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  position: relative;
}
.contenedor-header-nav{
    width: 100%;
    height: auto;
}
.contenedor-header-nav,.contenedor-header-nav>h1{
    position: absolute;
    left: 0.5rem;
    bottom: 0;
}

